body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-start;
   }
   h1{
       text-align: center;
       font-family: sans-serif;
   }
   
  .form{
   background-color: aliceblue;
   width: 500px;
   padding: 20px;
   border-radius: 20px;
  }
  form label{
   font-size: 20px;
   color: rgb(114, 113, 113);
  }
  form input{
   
   width: 96%;
   padding:8px;
   display: inline;
   border: 1px solid lightgray;
   border-radius: 5px;
  }
  .btn{
   display: inline;
   padding: 12px 0px;
   width :100%;
   margin-top: 5px;
   border-style: none;
   background-color: rgb(3, 147, 147);
   border-radius: 5px;
   font-size: 20px;
   color: #fff;
   cursor: pointer;
  }
  .items{
   padding: 0px;
  }
  .items li{
   /* min-width:500px; */
   list-style:none;

   margin-bottom: 5px;
   padding: 8px 12px;
   border-radius: 10px;
   font-size: 18px;
   
  }
 .edit{
   
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: #fff;
    margin-right: 10px;
    margin-left: 30px;
    
 }
 .delete{
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: #fff; 
 }